.intro{
    background-color: white;
    display: flex;

    .left{
        flex: .5;
        background-color: yellow;
        overflow: hidden;

        .imageContainer{
            width: 700px;
            height: 700px;
            

            img{
                height: 90%;
            }
        }
    }
    .right{
        flex: .5;
        background-color: red;
    }
}