@import "../../Global.scss";

.contactMe {
    height: 100vh;
    background-color: white;
    position: relative;
}

.contactMe-bg {
    width: 20px;
    height: 100%;
    background-color:$mainColor;
    position: absolute;
}

.contactMe-wrapper {
    padding: 80px;
    display: flex;

    @include mobile {
        flex-direction: column;
        padding: 0px 50px;
    }
}
.contactMe-title {
    font-size: 60px;
    font-weight: 500;
    padding-bottom: 20px;

    @include mobile {
        font-size: 30px;
    }
}

.contactMe-left {
    flex: 1;
}

.contactMe-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: 20px;


}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    width: 95%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    
    @include mobile {
        width: 90%;
    }
}

button {
    width: 150px;
    height: 30px;
    border: none;
    
    background-color: $mainColor;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30px;
}

.message {
    color: green;
    padding-left: 20px;
}
